
.blocks-creator{
    width: 60%;
    margin: auto;
}

.blocks-creator form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

form .form-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.block{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}

.block ul li{
    list-style: none;
}



.block-name{
    font-weight: 600;
}

.block-id{
    display: flex;
    gap: 10px;
}

.block-content{
    display: flex;
    align-items: center;
    gap: 4rem;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

.blocks-list{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width:600px){
    .blocks-creator{
        width: 100%;
        margin: 0;
    }

    .block{
        padding: 2rem;
        flex-direction: column;
        gap: 2rem;
    }

    .block-content{
        justify-content: space-between;
    }

    .block div{
        text-align: center;
    }
}

@media (max-width:1400px){
    .blocksContainer{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:1000px){
    .blocksContainer{
        grid-template-columns: repeat(1, 1fr);
    }

}