
.selected-block-data{
    margin-bottom: 30px;
    padding-bottom: 0.5rem;
    
}

.creator-containers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
    gap: 40px;
}

.creator-container{
   width: 300px;
   min-width: 300px;
}

.function-container{
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 30px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.context-container{
    display: flex;          
    flex-direction: row;    
    align-items: center;
    text-align: center;
    
}

.grades-container {
    display: flex;
    gap: 15px;
}

.grades-value-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 3px;
}
.grades-container input{
    width: 10px;
    display: flex;
    margin: auto;
}

.grade {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;    
}

.gpa{
    display: none;
    margin: 5px 0px;
}

#taskList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.task {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.date-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.status {
    font-weight: bold;
}

.tasks-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(15,15fr);
    gap: 10px; 
    padding: 12px;
}

@media (max-width:600px){
    .creator-containers{
        padding: 0;
        width: 100%;
        justify-content: center;
        flex-direction: row;
    }

}
