
.blocks-creator form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

form .form-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.form-input{
    all: unset;
    height: 18px;
    border-radius: 5px;
    box-shadow: 
    0px 0px 1px rgba(0,0,0,0.2),
    0px 0px 5px rgba(0,0,0,0.2);
    color: black;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
}

.block{
    max-width: 350px;
    width: 100%;
}

.block ul li{
    list-style: none;
}

.block-name{
    font-weight: 600;
}

.block-id{
    display: flex;
    gap: 10px;
}
.block-content{
    margin-bottom: 10px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

.blocks-list{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:1400px){
    .blocksContainer{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:1000px){
    .blocksContainer{
        grid-template-columns: repeat(1, 1fr);
    }

}