@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Pacifico&display=swap');

.title {
    width: 100%;
    font-size: clamp(4rem, 10vw, 5rem);
    font-weight: 800;
    line-height: 6rem;
    color: blueviolet;
    text-align: center;
}

.subtitle{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.no-data-container {
    display: block;
}

.blocks-table {
    width: 100%;
}

.activities-table {
    width: 550px;
}

.grades-table {
    width: 550px;
}

.notes-table {
    width: 550px;
}
