.ql-container {
    background-color: #ffffff;
    border-radius: 0px 0px 15px 15px;
}
  
.ql-editor .ql-snow {
    background-color: #ffffff; 
    color: #000; 
}
  
.ql-toolbar {
    background-color: #f4f4f4;
    border: 1px solid #ccc; 
    border-radius: 15px 15px 0px 0px;
}

.editor-container {
    width: 60%;
}

.modal {
    position: fixed ;
    display: none;
    z-index: 1 ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7) ; 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white ;
    padding: 0.8rem 1.5rem 1rem 1.5rem;
    width: 60%;
    max-width: 800px;
    border-radius: 15px;
    margin-bottom: 400px;
}

.ql-editor{
    max-height: 500px;
    overflow-y: auto;
}

.modalNote {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal-content-note {
    padding: 20px;
    margin: 10% auto;
    width: 55%;
    border-radius: 8px;
}

.note-content-display {
    font-weight: normal !important;
    background-color: rgba(255, 255, 255);
    padding: 1rem;
    min-height: 300px;
}

.note-buttons-display {
    background-color: rgb(228, 227, 227);
    padding: 1rem;
    display: flex;
    justify-content: end;
    border-radius: 0px 0px 15px 15px;
}

.note-title-display {
    background-color: rgb(228, 227, 227);
    border-radius: 15px 15px 0px 0px;
    padding: 0.7rem;
    font-weight: 700;
}