table{
  padding: 0.8rem 1rem;
  border-radius: 30px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  box-shadow: 
  0px 0px 1px rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
  transition: all 1s;
  border-spacing: 0px 10px;
  border-collapse: separate;
}

table tr{
  padding: 1rem;
}

table th{
  padding: 0px 0.5rem;
}

table td {
  padding: 0px 0.5rem;
  text-align: center;
}