@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgba(238, 238, 238, 0.795);
}
html, body {
    color: black;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 500;
    min-height: 60vw;
}

body {
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 900px;
    padding: 0px 2rem;
}

.header-container{
    height: 60px;
    margin-bottom: 50px;
}

.header{
    box-shadow: 
    0px 0px 2px rgb(0, 0, 0, 0.2),
    0 0px 10px rgba(0, 0, 0, 0.2);
    color: blueviolet;
    display: flex;
    height: 60px;
    width: 100%;
    padding: 0.7rem 2rem;
    margin: 10px auto;
    border-radius: 15px;
}

.header-logo{
    text-decoration: none;
    font-size: 25px;
    margin: 0;
    color: blueviolet;
    font-weight: 800;
}

.header * {
    display: flex;
    text-decoration: none;
    font-weight: 700;     
}

.header nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header ul{
    gap: 15px;
}
.header ul a{
    all: unset;
    cursor: pointer;
    display: flex; 
    color: blueviolet !important;
}

.primary-container{
    padding: 0.7rem 2rem;
    width: fit-content;
    border-radius: 15px;
    font-weight: 400;
    font-size: large;
    color: black;
    box-shadow: 
    0px 0px 2px rgb(0, 0, 0, 0.2),
    0 0px 10px rgba(0, 0, 0, 0.2);
    
}


.margin-component{
    margin-left: 200px;
}

label{
    color: black;
}

h2 {
    color: black;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

h4 {
    font-size: 27px;
}

h5 {
    color: black;
    font-size: 20px;
}

h6 {
    color: black;
    font-size: 15px;

}

.btn-primary{
    all: unset;
    box-shadow: 
    0px 0px 2px rgb(137, 43, 226, 0.8),
    0 0px 10px rgba(137, 43, 226, 0.2);
    color: blueviolet;
    font-weight: 600;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.1s;
    cursor: pointer;
}

.btn-primary:hover{
    color: white;
    box-shadow: 
    0px 0px 2px rgb(137, 43, 226, 0.8),
    0 0px 7px rgba(137, 43, 226, 1);
    background-color: blueviolet;
}
.dropdown-menu {
    padding: 5px;
    text-align: start;
    background-color: blueviolet;
    justify-content: center;
}

.dropdown-item {
    line-height: 0;
    padding: 15px;
    margin: 0 !important;
}

.btn-delete {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15%;
    padding-bottom: 0%;
}

.btn-add {
    display: flex;
    width: 10%;
    align-items: center;
    margin-top: 35px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width:700px){
    .header {
        flex-direction: column;
        min-width: 100%;
    }
    body{
        flex-wrap: nowrap;
        
    }
    html {
        min-width: 580px;
    }
}
