@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    box-sizing: border-box;
}

html, body {
    justify-content: center;
    color: blueviolet;
}

body {
    display: flex;
    font-family: "Afacad Flux", sans-serif;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-weight: 500;
}


.header{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 2rem 15rem;
    margin: auto;
}

.logo{
    font-family: "Pacifico", serif;
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    font-weight: 0;
    margin: 0;
    color: white;
    text-shadow: 2px 1px 5px black;
}

.nav {
    display: flex;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    align-items: center;
    justify-content: space-between;
    font-size: 1.125rem;
    font-weight: 600;
    gap: 10px;
}

.nav a {
    align-items: center;
    color: aliceblue;
    text-decoration: none;
}

.margin-component{
    margin-left: 200px;
}

label{
    color: black;
}

h1 {
    font-size: 30px;
    padding-top: 15px;
}

h2 {
    color: black;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

h4 {
    font-size: 27px;
}

h5 {
    color: black;
    font-size: 20px;
}

h6 {
    color: black;
    font-size: 15px;
    
}

.title{
    text-align: center;
}

.subtitle{
    text-align: center;
    margin-bottom: 2%;
}

.dropdown-menu {
    padding: 5px;
    text-align: start;
    background-color: blueviolet;
    justify-content: center;
}

.dropdown-item {
    line-height: 0;
    padding: 15px;
    margin: 0 !important;
}

.btn-delete {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15%;
    padding-bottom: 0%;
}

.btn-add {
    display: flex;
    width: 10%;
    align-items: center;
    margin-top: 35px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width:700px){
    .header {
        flex-direction: column;
        min-width: 100%;
    }
    body{
        flex-wrap: nowrap;
        
    }
    html {
        min-width: 580px;
    }
}
