@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html{
    background: linear-gradient(to top, rgba(84, 35, 131, 0.5) 0%,rgb(255, 255, 255))
}

html, body {
    color: black;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 500;
    min-height: 60vw;
}

body {
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 900px;
    padding: 0px 2rem;
}

main{
    padding: 2rem 2rem;
}

.header-container{
    height: 60px;
    margin-bottom: 20px;
}

.header{
    color: black;
    box-shadow: 
    0px 0px 2px rgb(0, 0, 0, 0.2),
    0 0px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    max-width: 840px;   
    padding: 0.1rem 2rem;
    margin: 20px auto;
    border-radius: 30px;
}

.header-logo{
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0;
    font-weight: 800;
}

.header * {
    display: flex;
    text-decoration: none;
    font-weight: 700;     
}

.header nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.header ul{
    gap: 15px;
}
.header ul a{
    all: unset;
    cursor: pointer;
    display: flex; 
    color: blueviolet      !important;
}

.primary-container{
    padding: 1rem 1.5rem;
    border-radius: 30px;
    font-weight: 300;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    box-shadow: 
    0px 0px 1px rgba(0, 0, 0, 0.2)
}

.margin-component{
    margin-left: 200px;
}

label{
    color: black;
}

h1 {

}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
    font-size: 1.25rem;
}

h4 {
    font-weight: 700;
    font-size: 1rem;
}

h5 {
    color: black;
    font-size: 20px;
}

h6 {
    color: black;
    font-size: 15px;

}

.btn {
   all: unset;
   font-weight: 600; 
   width: fit-content;
   padding: 0.4rem 1.4rem;
   border-radius: 30px;
   text-decoration: none;
   font-size: 1rem;
   transition: all 0.1s;
   cursor: pointer;
}

.btn-primary{
    box-shadow: 
    0px 0px 2px rgb(137, 43, 226, 0.8),
    0 0px 10px rgba(137, 43, 226, 0.2);
    color: white;
    background-color: blueviolet;
}
.btn-primary:hover{
    color: blueviolet;
    box-shadow: 
    0px 0px 2px rgb(137, 43, 226, 0.8),
    0 0px 7px rgba(137, 43, 226, 1);
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-danger{
    box-shadow: 
    0px 0px 2px red,
    0px 0px 7px rgba(255, 0, 0, 0.274);
    color: red;
}

.btn-danger:hover{
    background-color: red;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.form-input{
    all: unset;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 
    0px 0px 2px rgba(0, 0, 0, 1);
    color: black;
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.dropdown-menu {
    padding: 5px;
    text-align: start;
    background-color: blueviolet;
    justify-content: center;
}

.dropdown-item {
    line-height: 0;
    padding: 15px;
    margin: 0 !important;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width:600px){
    .header nav {
        flex-direction: column;      
    }
}
