@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    justify-content: center;
    color: blueviolet;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient( white, blueviolet);
}


.header{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 0.5rem 2rem;
    margin: 10px auto;
    border: 3px solid rgb(164, 103, 221);
    border-radius: 50px;
}

.header-logo{
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    font-weight: 0;
    margin: 0;
    color: white;
    font-weight: 800;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 800;
    gap: 18px;
}

.nav a {
    align-items: center;
    color: aliceblue;
    text-decoration: none;
}

.margin-component{
    margin-left: 200px;
}

label{
    color: black;
}

h2 {
    color: black;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

h4 {
    font-size: 27px;
}

h5 {
    color: black;
    font-size: 20px;
}

h6 {
    color: black;
    font-size: 15px;
    
}

.title{
    text-align: center;
}

.btn-primary{
    background-color: blueviolet;
    width: fit-content;
    padding: 0.3rem 0.5rem;
    border-radius: 16px;
    text-decoration: none;
    color: white;
    border: 2px solid rgb(177, 135, 216);
}

.dropdown-menu {
    padding: 5px;
    text-align: start;
    background-color: blueviolet;
    justify-content: center;
}

.dropdown-item {
    line-height: 0;
    padding: 15px;
    margin: 0 !important;
}

.btn-delete {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15%;
    padding-bottom: 0%;
}

.btn-add {
    display: flex;
    width: 10%;
    align-items: center;
    margin-top: 35px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width:700px){
    .header {
        flex-direction: column;
        min-width: 100%;
    }
    body{
        flex-wrap: nowrap;
        
    }
    html {
        min-width: 580px;
    }
}
